#css-progress-bar.transition {
  width: 100%;
  transition: width 60s linear;
}

.progress-meter {
  background-color: #18bc9c;
}

#progress {
  background-color: #FFAE00;
}

#progress.transition {
  background-color: #ec5840;
  transition: all 45s linear;
}

.card {
  transition: 0.6s;
  webkit-transform-style: webkit-preserve-3d;
  transform-style: preserve-3d;
  margin-bottom: -15px;
}

.modal {
  height: 800px;
  z-index: 100;
  background: rgba(0, 0, 255, 0.3);
  position: absolute;
  border-radius: 5px;
  max-width: 75rem;
}

.buttons {
  height: 400px;
}

.buttons > button {
  position: relative;
  top: 70%;
  margin-top: 30px;
}

#gameOver-modal {
  margin-top: 115px;
}
