#css-progress-bar {
  background-color: #18bc9c;
  width: 100%;
  transition: width 60s linear;
}

.progress {
  background-color: #FFAE00;
  transition: all 45s linear;
}

.card {
  transition: 0.6s;
  webkit-transform-style: webkit-preserve-3d;
  transform-style: preserve-3d;
}

.card .isFlipped {
  webkit-transform: webkit-rotateY(180deg);
  transform: rotateY(180deg);
}

.modal {
  height: 800px;
  z-index: 100;
  background: rgba(0, 0, 255, 0.3);
  position: absolute;
  border-radius: 5px;
}

#buttons {
  height: 400px;
}

#buttons > button {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -82.25px;
  margin-top: 30px;
}
